@model UserProject1.Models.UserDetails

@{
    ViewData["Title"] = "ViewProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>ViewProfile</h2>

<div>
    <h4>UserDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
@*<div>
        <a asp-action="Edit" asp-route-id="@Model.UserDetailId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
